.users-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list-container, .add-user-container {
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-list-container h2, .add-user-container h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-list-item:last-child {
  border-bottom: none;
}

.view-details {
  margin-left: auto;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.view-details {
  background-color: #007bff;
  color: white;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.view-details:hover, .delete-button:hover {
  opacity: 0.8;
}

.user-form {
  display: grid;
  gap: 10px;
}

.user-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.user-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-form button:hover {
  background-color: #0056b3;
}
